<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <center>
    <form action="login" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">LOGIN</button>

    </form>
    <div style="margin-top: 10px;">
        {% for message in messages%}
        <h3 style="color:red;text-align: center;">{{message}}</h3>
        {%endfor%}
    </div>
    </center>
</body>
</html>